* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'roboto', sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p, pre {
    font-size: 15px;
}

.wrapper {
    margin: 0 auto;
    width: 60%;
}

h1 {
    margin: 5px 0
}

.buttons-previous-next{
    text-decoration: none;
    color:#cc0000;
}

.header-wrapper {
    height: 100px;
    background-color: #4682b4;
}

.header-center {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-center h1 {
    font-size: 50px;
}

.header-center a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
}

.clock {
    user-select: none;
    width: fit-content;
    margin: 0 auto;
    font-size: 1.7em;
}

.content-body {
    display: flex;
}

.content-body > * {
    width: 50%;
    overflow-x: auto;
    white-space: pre-wrap;
}

.item-img {
    width: 80%;
}

footer {
    height: 150px;
    color: #fff;
    background-color: #343a40;
    margin-top: 30px;
}

.films p {
    margin-bottom: 5px;
}

.films ul {
    margin: 30px 0 0 30px
}

.darthvader{
    background-color: #E0AB03;
}

.lukeskywalker{
    background-color:#317f43;
}

.timotydalton{
    background-color:#317f43;
}

.items a{
    text-decoration: none;
    color: #cc0000;
    padding: 0 0 10px;
}

.items{
    display: flex;
    flex-direction: column;
}

.gereedschap p {
    margin: 10px 0;
}

.gereedschap-list {
    display: flex;
    flex-direction: column;
}

.zagen {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

<<<<<<< Updated upstream
.frisdrank{
    background-color: #b97d4b;
}

.warmedranken{
    background-color: #dc0219;
}
=======

.songteksten-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

pre {
    font-family:'roboto'
}
>>>>>>> Stashed changes
