/* Main Componenten */
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 5px 0;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p, pre {
    font-size: 15px;
}

/* Header */
.header-wrapper {
    height: 100px;
    background-color: #4682b4;
}

.header-center {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-center h1 {
    font-size: 50px;
}

.header-center a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
}

/* Footer */
footer {
    height: 150px;
    color: #fff;
    background-color: #343a40;
    margin-top: 30px;
}

.footer-wrapper {
    height: 150px;
    color: #fff;
    background-color: #343a40;
    margin-top: 30px;
}

.footer-center{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-center h1{
    font-size: 30px;
}

.footer-center a{
    color: white;
}

.social-links {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    height: fit-content;
}

.social-links svg {
    height: 45px;
}

.contact-info svg {
    height: 15px;
}

/* Divisions */
.wrapper {
    margin: 0 auto;
    width: 60%;
}

.sub-wrapper p {
    margin: 10px 0;
}

.sub-wrapper ul {
    margin: 10px 0 0 30px
}

.item-img {
    width: 80%;
}

.buttons-previous-next{
    text-decoration: none;
}
/* Main Pagina */
.clock {
    user-select: none;
    width: fit-content;
    margin: 15px auto;
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.preview-body {
    border: 1px solid black;
    padding: 10px;
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
}

.preview-body pre {
    white-space: pre-wrap;
}

/* Films Pagina */
.films p {
    margin-bottom: 5px;
}

.films ul {
    margin: 30px 0 0 30px
}

/* Filmpersonen Pagina */
.content-body {
    display: flex;
}

.content-body > * {
    width: 50%;
    overflow-x: auto;
    white-space: pre-wrap;
}

/* Songteksten Pagina */
.songteksten-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.items a{
    text-decoration: none;
    padding: 0 0 10px;
}

.items{
    display: flex;
    flex-direction: column;
}

/* Gereedschap Pagina */
.gereedschap-list {
    display: flex;
    flex-direction: column;
}

.zagen {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Dranken Pagina */
.frisdrank{
    background-color: #b97d4b;
}

.warmedranken{
    background-color: #dc0219;
}
